APP_HOST='0.0.0.0'
APP_PORT=8000

SSL_CERTIFICATE='/etc/ssl/certs/localhost.crt'
SSL_KEYFILE='/etc/ssl/certs/localhost.key'

# MS GRAPH
MSGRAPH_APP_NAME='MSGraph-FastAPI'
MSGRAPH_SCOPE='https://graph.microsoft.com/.default'
MSGRAPH_ENDPOINT='https://graph.microsoft.com/v1.0'
MSGRAPH_AUTHTENANT='common'
MSGRAPH_GRAPHUSERSCOPES='User.Read Mail.Read Mail.Send'